{% load thumbnail %}
<div class="small-course">
  <div class="course-info">
    <h3>
      <a href="{{ course.get_absolute_url }}">{{ course.title }}</a>
    </h3>

    <ul class="characteristics">
      <li>
        <strong>Type:</strong> {{ course.get_course_type_display }}
      </li>
      <li>
        <strong>System:</strong> {{ course.system }}
      </li>
      <li>
        <strong>Created By:</strong> {{ course.created_by.name }}
      </li>
    </ul>

    <div class="notes">
      {{ course.notes|linebreaksbr }}
    </div>
  </div>

  <div class="screenshot">
    {% if course.screenshots.count %}
      <img src="{{ course.screenshots.all.0.shot|thumbnail_url:'list_thumbnail' }}">
    {% endif %}
  </div>
</div>
