{% load static from staticfiles %}
{% load random_header from racing_tags %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block page_title %}Elite Racing Federation{% endblock %}</title>

  {% block css %}
    <link rel="stylesheet" href="{% static "css/reset.css" %}">
    <link rel="stylesheet" href="{% static "css/default.css" %}">
    {% block extra_css %}
    {% endblock %}
  {% endblock %}
</head>
<body>
  <header class="{% random_header %}">
    <div class="constrain">
      {% block header %}
        <div class="logo">
          <h1>
            <a href="{% url 'home' %}">
            Elite Racing<br>
            Federation
            </a>
          </h1>
        </div>

        <div class="links">
          <div class="search-form">
            <form method="GET" action="{% url 'courses_list' %}">
              <input type="text" name="q" value="">
              <button>Find Courses</button>
            </form>
          </div>

          <!--
          <ul>
            <li>
              Login
            </li>
            <li>
              Sign-Up
            </li>
          </ul>
          -->
          <nav>
            <ul>
              <li>
                <a href="{% url 'courses_list' %}">Courses</a>
              </li>
              <li>
                <a href="{% url 'pages_show_page' slug='builds' %}">Builds</a>
              </li>
              <li>
                <a href="{% url 'pages_show_page' slug='erf' %}">ERF</a>
              </li>
              <li>
                <a href="{% url 'pages_show_page' slug='hosting' %}">Hosting A Race</a>
              </li>
              <li>
                <a href="{% url 'docs_api_v1_courses' %}">API</a>
              </li>
              <li>
                <a href="{% url 'news_latest' %}">News</a>
              </li>
              <li>
                <a href="{% url 'pages_show_page' slug='links-about' %}">Links/About</a>
              </li>
            </ul>
          </nav>
        </div>
      {% endblock %}
    </div>
  </header>

  <content>
    <div class="constrain">
    {% block breadcrumbs %}{% endblock %}
    {% block content %}

    {% endblock %}
    </div>
  </content>

  <footer>
    <div class="constrain">
    {% block footer %}
      <div class="section">
        <div>
          Copyright {% now "Y" %} - Elite Racing Federation
        </div>
        <div>
          Elite: Dangerous and all associated media are the intellectual property
          of <a href="http://www.frontier.co.uk/">Frontier Developments.</a>
        </div>
      </div>

      <div class="section">
        <div>
          Code by CMDR Branch
          (<a href="http://toastdriven.com/"><img src="{% static "img/pixel_toast.png" %}"></a>
          <a href="http://toastdriven.com/">Toast Driven</a>)
        </div>
        <div>
          This site is open-source &amp; available on
          <a href="https://github.com/toastdriven/eliteracing">GitHub</a>.
        </div>
      </div>
    {% endblock %}
    </div>
  </footer>

  {% block js %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-1262021-13', 'auto');
      ga('send', 'pageview');
    </script>
    {% block extra_js %}
    {% endblock %}
  {% endblock %}
</body>
</html>
