{% extends "base.html" %}

{% block page_title %}{{ block.super }}: Home{% endblock %}

{% block content %}
<h2>Welcome to the Elite Racing Federation!</h2>

<p>
  The Elite Racing Federation was created in April 3302 as a response to the 
  overwhelming growth of underground racing in the galaxy. As an organization, 
  the ERF has sworn political neutrality while members are free to align as 
  they please. Nonetheless, the ERF headquarters on Okinura 6 sits in the heart 
  of the Federation where the underground racing scene began. There are no laws 
  against racing vessels or events but Elite Racing is dangerous and since 
  reaching popularity in February 3301, hundreds of millions of credits have 
  been claimed in insurance and station repair. As a result, a small group of 
  experienced commanders formed a council to bring regulation and coordination 
  to the racing scene. The Elite Racing Federation provides public resources to 
  ensure that members of the racing community can run events in their local 
  sectors and spread the love of racing through the galaxy.
</p>
{% endblock %}