{% extends "base.html" %}

{% block page_title %}{{ block.super }}: {{ course.title }}{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
  <li>
    <a href="{% url 'home' %}">Home</a>
  </li>
  <li>
    <a href="{% url 'courses_list' %}">Courses</a>
  </li>
  <li>
    {{ course.title|truncatewords:5 }}
  </li>
</ul>
{% endblock %}

{% block content %}
<div class="course-detail">
  <h2>
    <a href="{{ course.get_absolute_url }}">{{ course.title }}</a>
  </h2>

  <ul class="characteristics">
    <li>
      <strong>Type:</strong> {{ course.get_course_type_display }}
    </li>
    <li>
      <strong>System:</strong> {{ course.system }}
    </li>
    <li>
      <strong>Nearby Outfitting:</strong> {{ course.nearby_outfitting }}
    </li>
    <li>
      <strong>Distance From Primary:</strong> {{ course.distance_from_primary }} Ls
    </li>
    <li>
      <strong>Distance From Sol:</strong> {{ course.distance_from_sol }} Ly
    </li>
    <li>
      <strong>Created By:</strong> {{ course.created_by.name }}
      on {{ course.created|date:"F j, Y" }}
    </li>
  </ul>

  <h3>Course Specifics</h3>

  {% if course.zerogravitycourse %}
    {% include "courses/includes/zerogravity.html" %}
  {% endif %}
  {% if course.surfacecourse %}
    {% include "courses/includes/surface.html" %}
  {% endif %}
  {% if course.srvrallycourse %}
    {% include "courses/includes/srvrally.html" %}
  {% endif %}
  {% if course.srvcrosscourse %}
    {% include "courses/includes/srvcross.html" %}
  {% endif %}
  {% if course.stadiumcourse %}
    {% include "courses/includes/stadium.html" %}
  {% endif %}

  <h3>Notes:</h3>

  <div class="notes">
    {% if course.notes %}
      {{ course.notes|linebreaksbr }}
    {% else %}
      None
    {% endif %}
  </div>

  <div class="screenshots">
    {% for screenshot in course.screenshots.all %}
      <img src="{{ screenshot.shot.url }}">
    {% endfor %}
  </div>
</div>
{% endblock %}
