{% extends "base.html" %}

{% block page_title %}{{ block.super }}: {{ course.title }}{% endblock %}

{% block breadcrumbs %}
<ul class="breadcrumbs">
  <li>
    <a href="{% url 'home' %}">Home</a>
  </li>
  <li>
    <a href="{% url 'courses_list' %}">Courses</a>
  </li>
  <li>
    {{ course.title|truncatewords:5 }}
  </li>
</ul>
{% endblock %}

{% block content %}
{% load thumbnail %}
<div class="content-columns">
  <div class="course-detail">
    <h2>
      <a href="{{ course.get_absolute_url }}">{{ course.title }}</a>
    </h2>

    <ul class="characteristics">
      <li>
        <strong>Type:</strong> {{ course.get_course_type_display }}
      </li>

      {% if course.zerogravitycourse %}
        {% include "courses/includes/zerogravity.html" %}
      {% endif %}
      {% if course.surfacecourse %}
        {% include "courses/includes/surface.html" %}
      {% endif %}
      {% if course.srvrallycourse %}
        {% include "courses/includes/srvrally.html" %}
      {% endif %}
      {% if course.srvcrosscourse %}
        {% include "courses/includes/srvcross.html" %}
      {% endif %}
      {% if course.stadiumcourse %}
        {% include "courses/includes/stadium.html" %}
      {% endif %}

      {% if course.nearby_outfitting %}
      <li>
        <strong>Nearby Outfitting:</strong> {{ course.nearby_outfitting }}
      </li>
      {% endif %}
      {% if course.distance_from_primary %}
      <li>
        <strong>Distance From Primary:</strong> {{ course.distance_from_primary }} Ls
      </li>
      {% endif %}
      {% if course.distance_from_sol %}
      <li>
        <strong>Distance From Sol:</strong> {{ course.distance_from_sol }} Ly
      </li>
      {% elif course.system.lower.strip == 'sol' %}
      <li>
        <strong>Located at the birthplace of humankind, Sol.</strong>
      </li>
      {% endif %}
      <li>
        <strong>Created By:</strong> {{ course.created_by.name }}
        on {{ course.created|date:"F j, Y" }}
      </li>
    </ul>

    <hr>

    <h3>Notes:</h3>

    <div class="notes">
      {% if course.notes %}
        {{ course.notes|linebreaksbr }}
      {% else %}
        None
      {% endif %}
    </div>
  </div>

  <div class="sidebar course-screenshots">
    {% comment %}
    <!-- Someday maybe, if we want to feature the primary as the bigger one & the rest smaller underneath... -->
    {% if course.screenshots.all|length > 0 %}
      <div class="primary-shot">
        <a href="{{ screenshot.shot.url }}">
        <img src="{{ screenshot.shot|thumbnail_url:'primary_thumbnail' }}"></a>
      </div>
    {% endif %}
    {% endcomment %}

    {% for screenshot in course.screenshots.all %}
      <a href="{{ screenshot.shot.url }}">
      <img src="{{ screenshot.shot|thumbnail_url:'primary_thumbnail' }}"></a>
    {% endfor %}
  </div>
</div>
{% endblock %}
